* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
}

main {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 100px;
}

main section button {
    height: 50px;
    width: 500px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #000;
    border-radius: 50px;
    cursor: pointer;
}

main section button:hover {
    background-color: #928f8f;
}

#change-user-status {
    margin: 0;
}