* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*General settings*/

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
}

main {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 100px;
}

.error {
    color: #f43838;
    border: 1px solid #f43838;
    border-radius: 10px;
    padding: 5px 10px;
}

.back-home {
    width: 150px;
    margin: 0 0 20px;
    background-color: #928f8f;
}

.back-home:hover {
    background-color: rgba(0, 0, 0, 0);
}

/*Main menu*/

main section button, #register {
    height: 50px;
    width: 500px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #000;
    border-radius: 50px;
    cursor: pointer;
}

main section button:hover, #register:hover {
    background-color: #928f8f;
}

/*Register a user*/
main section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main section form input, main section form select {
    height: 50px;
    width: 500px;
    padding: 0 5%;
    width: 90%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
}

main section form select {
    width: 100%;
    background-color: white;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/*Search a user*/
main section .search-user{
    height: 50px;
    width: 360px;
    padding: 0 20px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 50px;
}

main section .search-button{
    width: 100px;
}

main section #data-searched div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main section #data-searched p, .content-p {
    height: 50px;
    width: 500px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

.hide {
    display: none;
}